
.idea/workspace.xml

.idea/vcs.xml

*.class

*.class

target/classes/com/ymatamoros/web/controller/CustomValidation/User.class

target/SpringLogin/WEB-INF/classes/com/ymatamoros/web/controller/CustomValidation/UserValidator.class
